nav
    //
        NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
    ul
        li
            a(href='/', title='Главная')
                i.fa.fa-lg.fa-fw.fa-home
                span.menu-item-parent Главная
        li
            a(href='clients', title='Клиенты')
                i.fa.fa-lg.fa-fw.fa-users
                span.menu-item-parent Клиенты
        //li
        //    a(href='#')
        //        i.fa.fa-lg.fa-fw.fa-bar-chart-o
        //        span.menu-item-parent Graphs
        //    ul
        //        li
        //            a(href='flot.html') Flot Chart
        //        li
        //            a(href='morris.html') Morris Charts
        //        li
        //            a(href='sparkline-charts.html') Sparklines
        //        li
        //            a(href='easypie-charts.html') EasyPieCharts
        //        li
        //            a(href='dygraphs.html') Dygraphs
        //        li
        //            a(href='chartjs.html') Chart.js
        //        li
        //            a(href='hchartable.html')
        //                | HighchartTable
        //                span.badge.pull-right.inbox-badge.bg-color-yellow new
        //li
        //    a(href='#')
        //        i.fa.fa-lg.fa-fw.fa-table
        //        span.menu-item-parent Tables
        //    ul
        //        li
        //            a(href='table.html') Normal Tables
        //        li
        //            a(href='datatables.html')
        //                | Data Tables
        //                span.badge.inbox-badge.bg-color-greenLight.hidden-mobile responsive
        //        li
        //            a(href='jqgrid.html') Jquery Grid
        //li
        //    a(href='#')
        //        i.fa.fa-lg.fa-fw.fa-pencil-square-o
        //        span.menu-item-parent Forms
        //    ul
        //        li
        //            a(href='form-elements.html') Smart Form Elements
        //        li
        //            a(href='form-templates.html') Smart Form Layouts
        //        li
        //            a(href='validation.html') Smart Form Validation
        //        li
        //            a(href='bootstrap-forms.html') Bootstrap Form Elements
        //        li
        //            a(href='bootstrap-validator.html') Bootstrap Form Validation
        //        li
        //            a(href='plugins.html') Form Plugins
        //        li
        //            a(href='wizard.html') Wizards
        //        li
        //            a(href='other-editors.html') Bootstrap Editors
        //        li
        //            a(href='dropzone.html') Dropzone
        //        li
        //            a(href='image-editor.html') Image Cropping
        //        li
        //            a(href='ckeditor.html') CK Editor
        //li
        //    a(href='#')
        //        i.fa.fa-lg.fa-fw.fa-desktop
        //        span.menu-item-parent UI Elements
        //    ul
        //        li
        //            a(href='general-elements.html') General Elements
        //        li
        //            a(href='buttons.html') Buttons
        //        li
        //            a(href='#') Icons
        //            ul
        //                li
        //                    a(href='fa.html')
        //                        i.fa.fa-plane
        //                        |  Font Awesome
        //                li
        //                    a(href='glyph.html')
        //                        i.glyphicon.glyphicon-plane
        //                        |  Glyph Icons
        //                li
        //                    a(href='flags.html')
        //                        i.fa.fa-flag
        //                        |  Flags
        //        li
        //            a(href='grid.html') Grid
        //        li
        //            a(href='treeview.html') Tree View
        //        li
        //            a(href='nestable-list.html') Nestable Lists
        //        li
        //            a(href='jqui.html') JQuery UI
        //        li
        //            a(href='typography.html') Typography
        //        li
        //            a(href='#') Six Level Menu
        //            ul
        //                li
        //                    a(href='#')
        //                        i.fa.fa-fw.fa-folder-open
        //                        |  Item #2
        //                    ul
        //                        li
        //                            a(href='#')
        //                                i.fa.fa-fw.fa-folder-open
        //                                |  Sub #2.1
        //                            ul
        //                                li
        //                                    a(href='#')
        //                                        i.fa.fa-fw.fa-file-text
        //                                        |  Item #2.1.1
        //                                li
        //                                    a(href='#')
        //                                        i.fa.fa-fw.fa-plus
        //                                        |  Expand
        //                                    ul
        //                                        li
        //                                            a(href='#')
        //                                                i.fa.fa-fw.fa-file-text
        //                                                |  File
        //                li
        //                    a(href='#')
        //                        i.fa.fa-fw.fa-folder-open
        //                        |  Item #3
        //                    ul
        //                        li
        //                            a(href='#')
        //                                i.fa.fa-fw.fa-folder-open
        //                                |  3ed Level
        //                            ul
        //                                li
        //                                    a(href='#')
        //                                        i.fa.fa-fw.fa-file-text
        //                                        |  File
        //                                li
        //                                    a(href='#')
        //                                        i.fa.fa-fw.fa-file-text
        //                                        |  File
        //                li
        //                    a.inactive(href='#')
        //                        i.fa.fa-fw.fa-folder-open
        //                        |  Item #4 (disabled)
        //li
        //    a(href='widgets.html')
        //        i.fa.fa-lg.fa-fw.fa-list-alt
        //        span.menu-item-parent Widgets
        //li
        //    a(href='#')
        //        i.fa.fa-lg.fa-fw.fa-cloud
        //            em 3
        //        span.menu-item-parent Cool Features!
        //    ul
        //        li
        //            a(href='calendar.html')
        //                i.fa.fa-lg.fa-fw.fa-calendar
        //                span.menu-item-parent Calendar
        //        li
        //            a(href='gmap-xml.html')
        //                i.fa.fa-lg.fa-fw.fa-map-marker
        //                span.menu-item-parent GMap Skins
        //                span.badge.bg-color-greenLight.pull-right.inbox-badge 9
        //li
        //    a(href='#')
        //        i.fa.fa-lg.fa-fw.fa-puzzle-piece
        //        span.menu-item-parent App Views
        //    ul
        //        li
        //            a(href='projects.html')
        //                i.fa.fa-file-text-o
        //                |  Projects
        //        li
        //            a(href='blog.html')
        //                i.fa.fa-paragraph
        //                |  Blog
        //        li
        //            a(href='gallery.html')
        //                i.fa.fa-picture-o
        //                |  Gallery
        //        li
        //            a(href='#')
        //                i.fa.fa-comments
        //                |  Forum Layout
        //            ul
        //                li
        //                    a(href='forum.html') General View
        //                li
        //                    a(href='forum-topic.html') Topic View
        //                li
        //                    a(href='forum-post.html') Post View
        //        li
        //            a(href='profile.html')
        //                i.fa.fa-group
        //                |  Profile
        //        li
        //            a(href='timeline.html')
        //                i.fa.fa-clock-o
        //                |  Timeline
        //        li
        //            a(href='search.html')
        //                i.fa.fa-search
        //                |   Search Page
        //li
        //    a(href='#')
        //        i.fa.fa-lg.fa-fw.fa-shopping-cart
        //        span.menu-item-parent E-Commerce
        //    ul
        //        li
        //            a(href='orders.html') Orders
        //        li
        //            a(href='products-view.html') Products View
        //        li
        //            a(href='products-detail.html') Products Detail
        //li.active
        //    a(href='#')
        //        i.fa.fa-lg.fa-fw.fa-windows
        //        span.menu-item-parent Miscellaneous
        //    ul
        //        li
        //            a(href='../Landing_Page/', target='_blank')
        //                | Landing Page
        //                i.fa.fa-external-link
        //        li
        //            a(href='pricing-table.html') Pricing Tables
        //        li
        //            a(href='invoice.html') Invoice
        //        li
        //            a(href='login.html', target='_top') Login
        //        li
        //            a(href='register.html', target='_top') Register
        //        li
        //            a(href='forgotpassword.html', target='_top') Forgot Password
        //        li
        //            a(href='lock.html', target='_top') Locked Screen
        //        li
        //            a(href='error404.html') Error 404
        //        li
        //            a(href='error500.html') Error 500
        //        li.active
        //            a(href='blank_.html') Blank Page
        //li.chat-users.top-menu-invisible
        //    a(href='#')
        //        i.fa.fa-lg.fa-fw.fa-comment-o
        //            em.bg-color-pink.flash.animated !
        //        span.menu-item-parent
        //            | Smart Chat API
        //            sup beta
        //    ul
        //        li
        //            // DISPLAY USERS
        //            .display-users
        //                input.form-control.chat-user-filter(placeholder='Filter', type='text')
        //                a.usr(href='#', data-chat-id='cha1', data-chat-fname='Sadi', data-chat-lname='Orlaf', data-chat-status='busy', data-chat-alertmsg='Sadi Orlaf is in a meeting. Please do not disturb!', data-chat-alertshow='true', data-rel='popover-hover', data-placement='right', data-html='true', data-content="                  <div class='usr-card'>                  <img src='img/avatars/5.png' alt='Sadi Orlaf'>                  <div class='usr-card-content'>                  <h3>Sadi Orlaf</h3>                  <p>Marketing Executive</p>                  </div>                  </div>                  ")
        //                    i
        //                    | Sadi Orlaf
        //                a.usr(href='#', data-chat-id='cha2', data-chat-fname='Jessica', data-chat-lname='Dolof', data-chat-status='online', data-chat-alertmsg='', data-chat-alertshow='false', data-rel='popover-hover', data-placement='right', data-html='true', data-content="                  <div class='usr-card'>                  <img src='img/avatars/1.png' alt='Jessica Dolof'>                  <div class='usr-card-content'>                  <h3>Jessica Dolof</h3>                  <p>Sales Administrator</p>                  </div>                  </div>                  ")
        //                    i
        //                    | Jessica Dolof
        //                a.usr(href='#', data-chat-id='cha3', data-chat-fname='Zekarburg', data-chat-lname='Almandalie', data-chat-status='online', data-rel='popover-hover', data-placement='right', data-html='true', data-content="                  <div class='usr-card'>                  <img src='img/avatars/3.png' alt='Zekarburg Almandalie'>                  <div class='usr-card-content'>                  <h3>Zekarburg Almandalie</h3>                  <p>Sales Admin</p>                  </div>                  </div>                  ")
        //                    i
        //                    | Zekarburg Almandalie
        //                a.usr(href='#', data-chat-id='cha4', data-chat-fname='Barley', data-chat-lname='Krazurkth', data-chat-status='away', data-rel='popover-hover', data-placement='right', data-html='true', data-content="                  <div class='usr-card'>                  <img src='img/avatars/4.png' alt='Barley Krazurkth'>                  <div class='usr-card-content'>                  <h3>Barley Krazurkth</h3>                  <p>Sales Director</p>                  </div>                  </div>                  ")
        //                    i
        //                    | Barley Krazurkth
        //                a.usr.offline(href='#', data-chat-id='cha5', data-chat-fname='Farhana', data-chat-lname='Amrin', data-chat-status='incognito', data-rel='popover-hover', data-placement='right', data-html='true', data-content="                  <div class='usr-card'>                  <img src='img/avatars/female.png' alt='Farhana Amrin'>                  <div class='usr-card-content'>                  <h3>Farhana Amrin</h3>                  <p>Support Admin <small><i class='fa fa-music'></i> Playing Beethoven Classics</small></p>                  </div>                  </div>                  ")
        //                    i
        //                    | Farhana Amrin (offline)
        //                a.usr.offline(href='#', data-chat-id='cha6', data-chat-fname='Lezley', data-chat-lname='Jacob', data-chat-status='incognito', data-rel='popover-hover', data-placement='right', data-html='true', data-content="                  <div class='usr-card'>                  <img src='img/avatars/male.png' alt='Lezley Jacob'>                  <div class='usr-card-content'>                  <h3>Lezley Jacob</h3>                  <p>Sales Director</p>                  </div>                  </div>                  ")
        //                    i
        //                    | Lezley Jacob (offline)
        //                a.btn.btn-xs.btn-default.btn-block.sa-chat-learnmore-btn(href='ajax/chat.html') About the API
                    // END DISPLAY USERS
span.minifyme(data-action='minifyMenu')
    i.fa.fa-arrow-circle-left.hit
// END NAVIGATION